@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
}

.main {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* start of left side */

.left-side .card_below {
    background-color: hsl(235, 46%, 20%);
    width: 300px;
    height: 460px;
    border-radius: 15px;
}

.left-side .card_below .card_up_content img {
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.left-side .card_below .card_up_content{
    background-color: hsl(246, 80%, 60%);
    height: 300px;
    border-radius: 15px;
    padding: 1em 0 0 1.5em;
}

.left-side .card_below .card_up_content .report {
    font-weight: 300;
    color: hsl(236, 100%, 87%);
    font-size: 1rem;
}

.left-side .card_below .card_up_content .name {
    font-size: 2.5rem;
    color: white;
}

.left-side .card_below .card_below_content {
    margin-left: 1.5em;
    margin-top: 1em;
}

.left-side .card_below .card_below_content p {
    padding: .5em;
    color:  hsl(235, 45%, 61%);
    font-size: 1rem;
}

.left-side .card_below .card_below_content .weekly {
    color: white;
}

/* End of left side */

.main-content {
    width: 800px;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-left: 1em;
}

.main-content .card {
   width: 250px;
   background-color: hsl(15, 100%, 70%);
   border-radius: 10px;
   
}

.card-images {
    width: 250px;
    height: 40px;
    background: url("../images/icon-work.svg") no-repeat 8.7rem -.7rem/31%;

}


.card-content {
    background-color: hsl(235, 46%, 20%);
    height: 175px;
    border-radius: 10px;
}

.card-content-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.card-content-image p {
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
.card-content-image img {
    height: 5px;
}

.card-below-content {
    padding: 0 1em 1em 1em;

}

.card-below-content .hrs {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
}

.card-below-content .last {
    color: hsl(235, 45%, 61%);
    font-size: .8rem;
}


.main-content .card2 {
    width: 250px;
    background-color: hsl(195, 74%, 62%);
    border-radius: 10px;
    
 }

 .card-images_two {
    width: 250px;
    height: 40px;
    background: url("../images/icon-play.svg") no-repeat 8.7rem -.7rem/31%;

}


.main-content .card3 {
    width: 250px;
    background-color: hsl(348, 100%, 68%);
    border-radius: 10px;
    
 }

 .card-images_three {
    width: 250px;
    height: 40px;
    background: url("../images/icon-study.svg") no-repeat 8.7rem -.7rem/31%;

}

.main-content .card4 {
    width: 250px;
    background-color: hsl(145, 58%, 55%);
    border-radius: 10px;
    
 }

 .card-images_four {
    width: 250px;
    height: 40px;
    background: url("../images/icon-exercise.svg") no-repeat 8.7rem -.7rem/31%;

}

.main-content .card5 {
    width: 250px;
    background-color:  hsl(264, 64%, 52%);
    border-radius: 10px;
    
 }

 .card-images_five {
    width: 250px;
    height: 40px;
    background: url("../images/icon-social.svg") no-repeat 8.7rem -.7rem/31%;

}

.main-content .card6 {
    width: 250px;
    background-color:  hsl(43, 84%, 65%);
    border-radius: 10px;
    
 }

 .card-images_six {
    width: 250px;
    height: 40px;
    background: url("../images/icon-self-care.svg") no-repeat 8.7rem -.7rem/31%;

}




