@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color:hsl(226, 43%, 10%) ;
}

/* profile starts */

.main {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .main-content .left-side-content .profile img {
    width: 80px;
    border: 3px solid white;
    border-radius: 50%;
}

.main .main-content{
    width: 300px;
    height: 400px;
}
.main .main-content .left-side-content .profile_desc{
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    height: 530px;
}

.main .main-content .left-side-content .profile_desc .profile{
    background-color: hsl(246, 80%, 60%);
    padding: 1.5em;
    border-radius: 20px;
    height: 350px;
   
}
.main .main-content .left-side-content .profile_desc .profile .report {
    margin-top: 1em;
    color:hsl(236, 100%, 87%);
    font-size: 1rem;
    font-weight: 500;
}

.main .main-content .left-side-content .profile_desc .profile .name {
    color:  white;
    margin-top: .2em;
    font-size: 2.5rem;
    font-weight: 300;
    
}


.main .main-content .left-side-content .profile_desc .profile .wait {
    margin-top: 5.5em;
}

.main .main-content .left-side-content .profile_desc .profile .wait p {
    padding: .7em;
    color:hsl(235, 45%, 61%);
    font-size: 1rem;
    font-weight: 400;
}

.main .main-content .left-side-content .profile_desc .profile .wait .item1 {
    color: white;
}

/* profile ends */

.center-content_one {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2em;
}

.main .center-content_one .card1 {
    width: 220px;
    height: 220px;
   
    border-radius: 15px;
}

.main .center-content_one .card1 .card1-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: .8em;
}

.main .center-content_one .card1 .card1-top img {
    width: 40px;
   
}

.main .center-content_one .card1-details {
    height: 190px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
}

.main .center-content_one .card1-details .card-title {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}
.main .center-content_one .card1-details .card-title img {
    height: 5px;
}

.main .center-content_one .card1-details .card-title p {
    color: white;
    font-weight: 500;
}

.main .center-content_one .card1-details .card-below {
    padding: 1em;
}

.main .center-content_one .card1-details .card-below .hrs {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
}

.main .center-content_one .card1-details .card-below .week {
    color:hsl(236, 100%, 87%);  
    font-weight: 300;
    padding: .5em 0 .5em 0;
}

.card_one {
    background-color: hsl(15, 100%, 70%);
}

.card_two {
    background-color: hsl(195, 74%, 62%);
}

.card_three {
    background-color: hsl(348, 100%, 68%);
}


.card_four{
    background-color: hsl(145, 58%, 55%);
}

.card_five{
    background-color: hsl(264, 64%, 52%);
}

.card_six {
    background-color: hsl(43, 84%, 65%);
}

.card_top{
    margin-top: 4em;
}


.card1-top #you {
    width: 40px;
    height: 40px;
}



